

<h1>Detalle del Artículo</h1>
<table border="1">
    <tr>
        <th>ID</th>
        <th>Título</th>
        <th>Fecha</th>
     
    </tr>
    <tr>
        <td>{{ articulo.id }}</td>
        <td>{{ articulo.title }}</td>
        <td>{{ articulo.created }}</td>
    
        
    </tr>
</table>
