
{#

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Artículos</title>
</head>
<body>
    <h1>Artículos</h1>
    <ul>
        {% for articulo in articulos %}
            <li>
                <a href="{{ path('nuevo_bundle_mostrar_articulo', {'id': articulo.id}) }}">{{ articulo.title }}</a>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
#}